body {
  width: 350px;
}

.input-zone {
  width: 100%;
}

.input-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  color: #777;
}

.input-text {
  border: none;
  border-bottom: 1px solid #CCC;
  width: 100%;
}

#saved {
  padding-left: 5px;
  color: green;
}

.hide {
  visibility: hidden;
}

.licence, .licence a {
  padding-top: 10px;
  font-size: 10px;
  color: #CCC;
}

.title-big, .title-small {
  color: #111;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
  margin: 0 0 0;
  padding: 4px 4px;
  text-align: center;
  text-transform: uppercase;
}

.title-small {
  color: #AAA;
  font-size: 15px;
}

.saved::after {
  content: "Saved!";
  color: green;
}

.unsaved::after {
  content: "Not saved";
  color: red;
}
